# Supabase
DATABASE_URL="postgres://[USER]:[PASSWORD]@[HOST]:6543/[DB]?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgres://[USER]:[PASSWORD]@[HOST]:5432/[DB]"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""


# AI Agent
OPENROUTER_API_KEY=""
OPENAI_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""


# Alchemy
ALCHEMY_RPC_URL=""
ALCHEMY_RPC_URL_MAINNET=""
ALCHEMY_RPC_URL_TESTNET=""


# Blockscout API
BLOCKSCOUT_API_URL_MAINNET="https://robinhoodchain.blockscout.com/api/v2"
BLOCKSCOUT_API_KEY_MAINNET=""
BLOCKSCOUT_API_URL_TESTNET="https://explorer.testnet.chain.robinhood.com/api/v2"
BLOCKSCOUT_API_KEY_TESTNET=""


# Encryption
WALLET_ENCRYPTION_KEY=""