DATABASE_URL="postgres://[USER]:[PASSWORD]@[HOST]:6543/[DB]?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgres://[USER]:[PASSWORD]@[HOST]:5432/[DB]"

ALCHEMY_RPC_URL=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

OPENROUTER_API_KEY=""
